In [2]:
%pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)
mycursor = mydb.cursor()

mycursor.execute("Create Database MARWADI")
print("Database created")

Database created

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database= 'MARWADI'
)
mycursor = mydb.cursor()

 #create table
createTable = '''CREATE TABLE student(
      rollno int(5), 
      name varchar(5),
      gender varchar(5),
      age int(3),
      email varchar(50),
      mobile int(10),
      city varchar(15)
);
'''
mycursor.execute(createTable)

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

mydb.close()

('student',)

In [6]:
# 1
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")
rows = mycursor.fetchone()

while rows:
  print(rows)
  rows = mycursor.fetchone()

In [ ]:
# 2) Write a program to display all the records of student table (make use of
# fetchall() method)
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"  # Specify your database name
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")
rows = mycursor.fetchall()

for row in rows:
  print(row)

result = mycursor.execute()
print()

In [7]:
# 3) Write a program to search for particular student and display the details of
# student. If student is not found, related message shall be displayed
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  # Specify your database name
)

mycursor = mydb.cursor()

rollno = input("Enter the roll number of the student to search: ")

mycursor.execute("SELECT * FROM student WHERE rollno = %s", (rollno,))
student = mycursor.fetchone()

if student:
    print("Student details:")
    print(student)
else:
    print("Student not found.")

Student not found.

In [8]:

# 4) Write a program to insert the details of student in above table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  # Specify your database name
)

mycursor = mydb.cursor()

# rollno = input("Enter roll number: ")
# name = input("Enter name: ")
# gender = input("Enter gender: ")
# age = input("Enter age: ")
# email = input("Enter email: ")
# mobile = input("Enter mobile number: ")
# city = input("Enter city: ")

sql = "INSERT INTO student (rollno, name, gender, age, email, mobile, city) VALUES (%s, %s, %s, %s, %s, %s, %s)"

val = [
(1, 'Peter', 'Male', 22, 'peter@gmail.com', 2818254584, 'Rajkot'),
(2, 'Amy', 'Female', 24, 'amy@gmail.com', 2817854784, 'Ahmedabad'),
(3, 'Sandy', 'Male', 25, 'sandy@gmail.com', 2818545588, 'Rajkot'),
(4, 'Vicky', 'Female', 22, 'vicky@gmail.com', 2817454547, 'Gondal'),
(5, 'William', 'Male', 23, 'william@gmail.com', 2817548451, 'Surat'),
(6, 'Viola', 'Male', 24, 'viola@gmail.com', 2816524521, 'Baroda')
]
  
# val = (rollno, name, gender, age, email, mobile, city)

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

6 record inserted.

In [9]:
# 5) Write a program to update the details of student in above table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  # Specify your database name
)

mycursor = mydb.cursor()

rollno = input("Enter roll number of the student to update: ")
field = input("Enter field to update: ")
new_value = input(f"Enter new value for {field}: ")

sql = f"UPDATE student SET {field} = %s WHERE rollno = %s"
val = (new_value, rollno)

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) updated.")

1 record(s) updated.

In [10]:


# 6) Write a program to delete the details of student in above table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  
)

mycursor = mydb.cursor()

rollno = input("Enter roll number of the student to delete: ")

sql = "DELETE FROM student WHERE rollno = %s"
val = (rollno,)

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted.")

1 record(s) deleted.

In [11]:


# 7) Write a program to display only those records who have valid email
# address as their information. Use regular expression here.
import re
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  # Specify your database name
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")

for row in mycursor.fetchall():
    email = row[4]
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):
        print(row)

In [12]:


# 8) Write a program to load all the records from table and display only those
# details where names start with “N” and has length of 5 characters.
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="MARWADI"  # Specify your database name
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student WHERE name LIKE 'N____'")

for row in mycursor.fetchall():
    print(row)

In [13]:

# 9) Write a program to create a list with 3 columns for name, data type and
# size. Create table as per the information entered. Consider following
# example
# name varchar 20
# qualification varchar 20
# post varchar 20
# salary int 6
# Once above information is stored in list, program shall create a table from
columns = [
    ("name", "varchar", 20),
    ("qualification", "varchar", 20),
    ("post", "varchar", 20),
    ("salary", "int", 6)
]

table_name = input("Enter table name: ")
sql = f"CREATE TABLE {table_name} ("

for col_name, data_type, size in columns:
    sql += f"{col_name} {data_type}({size}), "

sql = sql[:-2] + ")"

mycursor.execute(sql)

print("Table created successfully.")

Table created successfully.